In [1]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [2]:
import pandas as pd

# intialise data of lists.
data = {'a':[1, 2, 1], 'b':[1, 1, 1]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
df

print(df['a']==1)

0     True
1    False
2     True
Name: a, dtype: bool